<div class="container">
  
  <h1>Admin#index</h1>
  <p>Find me in app/views/admin/index.html.erb</p>

  <p>It is <%= Time.now %></p>

  <p>User info:</p>
  <p>session:<%= session[:user_id] %></p> 
</div>



